doctype html
html
  head
  body
    h1 agregar colectivo
    form(action='/nuevo', method='post')
      input(placeholder='linea', name='linea')
      br
      input(placeholder='chofer', name='chofer')
      br
      input(placeholder='color', name='color')
      br
      input(type='submit', value='Agregar bondi')
